/* .FollowRequestList {
  background-color: white;
  border-radius: 4px;
} */

/* .FollowRequestList {
  width: 350px;
  height: 250px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 3px;
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 4%);
} */

.modalFollow {
  width: 400px;
  height: 300px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 3px;
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 4%);
  overflow-y: scroll;
}

.FollowRequestList .darkBG {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed; /* Stay in place which means that the background will cover all the page */
  overflow: auto; /* Enable scroll if needed */
}

.FollowRequestList .centered {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* heading */

.FollowRequestList .heading {
  margin: 0;
  padding: 20px;
  color: black;
  font-size: 25px;
  text-align: center;
  font-weight: 850;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* modalContent */

/* modalContent-paragraph */

.FollowRequestList .modalContent {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}

.FollowRequestList .fixed-width {
  width: 250px;
}

/* Category-label */
.FollowRequestList .Category-label {
  font-weight: bold;
  justify-self: start;
}

/* modalContent-input */

.FollowRequestList .Create-Category {
  position: relative;
  padding: 10px;
  height: 40px;
  width: 100%;
  max-width: 80vw;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: black;
  background-color: #e3e5e8;
  border: none;
  border-radius: 3px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

/* .FollowRequestList .Create-Category:focus,

.Create-Category:active {
  border: none;
 
}
  */

/* .shiftingToLeft */

.FollowRequestList .shiftingToLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 300px;
  padding-right: 40px;
}

/* create button */

.FollowRequestList .createBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 10px;
  border-radius: 3px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: gray;
  transition: all 0.25s ease;
}

.FollowRequestList .createBtn:hover {
  box-shadow: 0 10px 20px -10px #4f545c;

  background-color: #4f545c;
}

/* cancel button */

.FollowRequestList .cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 38px;
  border-radius: 3px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: gray;
  transition: all 0.25s ease;
}

.FollowRequestList .cancelBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: #4f545c;
  color: white;
}

.closeIcon {
  color: white;
}

.requestContainer {
  display: flex;
  margin-top: 10px;
  gap: 20px;
}
.titleOfHeader {
  margin-bottom: 20px;
}

.userInfoName {
  font-size: 15px;
  color: black;
}

.acceptRequest {
  font-size: 14px;
  border: none;
  cursor: pointer;
  width: 110px;
  height: 25px;
  border-radius: 5px;
  background: gray;
  color: white;
  transition: all 0.25s ease;
}

.acceptRequest:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: #4f545c;
  color: white;
}

.removeRequest {
  font-size: 14px;
  border: none;
  cursor: pointer;
  width: 110px;
  height: 25px;
  border-radius: 5px;
  background: gray;
  color: white;
  transition: all 0.25s ease;
}

.removeRequest:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: rgb(202, 104, 104);
  color: white;
}
