.rightSideHomePage {
  background-color: rgb(54, 57, 63);
  display: flex;
  flex-direction: column;
  align-items: center;
background-image: url("https://support.discord.com/hc/user_images/-tSbfgDFQxmpAJamqqO8Mg.png");
}

.homeImg{
  margin-left: 100px;
}
.centerSide {
  margin-top: 20px;
  height: 600px;
  width: 97%;
  background-color: rgb(64, 68, 75);
  border-radius: 5px;
  overflow-y: scroll;
}

.buttomSide {
  display: flex;
  margin-top: 10px;
  height: 50px;
  width: 97%;
  background-color: rgb(64, 68, 75);
  border-radius: 5px;
}

.sendButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
}
.sendIcon {
  height: 30px;
  width: 30px;
  color: rgb(154, 157, 161);
}

.sendIcon:hover {
  color: rgb(255, 255, 226);
}

.InputFelid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.inputMessage {
  height: 30px;
  width: 60vw;
  border: none;
  background-color: rgb(64, 68, 75);
  font-size: 17px;
  outline: none;
  caret-color: rgb(187, 187, 184);
  color: rgb(181, 183, 186);
}

.inputMessage::placeholder {
  color: rgb(129, 129, 127);
}

.room-navbar {
  display: flex;
  width: 100%;
  height: 50px;
  border-bottom: 0.5px solid black;
  align-items: center;
  justify-content: space-between;
  border-top:0.5px solid black ;
}

.roomName-tow {
  display: flex;
  width: 500px;
  align-items: center;
}

.nameRoom {
  font-size: 30px;
  margin-left: 20px;
  color: #b6b7bb;
  cursor: default;
}

.groupIcon {
  color: rgb(185, 187, 190);
  margin-left: 10px;
  height: 30px;
  width: 30px;
}

.roomController {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 55px;
  width: 300px;
}

.listIcon {
  color: rgb(185, 187, 190);
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.FollowRequestList {
  color: rgb(185, 187, 190);
  height: 28px;
  width: 28px;
  cursor: pointer;
}

.deleteRoom {
  color: rgb(185, 187, 190);
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.updateRoom {
  color: rgb(185, 187, 190);
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.listIcon:hover {
  color: rgb(255, 255, 226);
}
.updateRoom:hover {
  color: rgb(255, 255, 226);
}
.deleteRoom:hover {
  color: rgb(202, 104, 104);
}

.FollowRequestList:hover {
  color: rgb(255, 255, 226);
}

.toolTip {
  position: relative;
  cursor: pointer;
}
.toolTipText {
  margin-top: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(168, 172, 175);
  background-color: rgb(32, 34, 37);
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.toolTipText:before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  left: 41%;
  bottom: 50%;
  border: 12px solid;
  border-color: rgb(32, 34, 37) #0000 #0000 rgb(32, 34, 37);
}

.toolTip:hover .toolTipText {
  bottom: -130%;
  visibility: visible;
  opacity: 1;
}

.centerSide {
  overflow-y: scroll;
}

/* @src/components/Modal.module.css ////////////////////////////////////////////////////////////////////////////////////// */

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed; /* Stay in place which means that the background will cover all the page */
  overflow: auto; /* Enable scroll if needed */
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 350px;
  height: 350px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modalContent {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.deleteBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: red;
  transition: all 0.25s ease;
}

.deleteBtn:hover {
  box-shadow: 0 10px 20px -10px #9fc5e8;
  transform: translateY(-5px);
  /* background: #ff3e4e; */
}

.cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: gray;
  transition: all 0.25s ease;
}

.cancelBtn:hover {
  box-shadow: none;
  transform: none;
  background: whitesmoke;
  color: var(--primary-black-color);
}

.push-down {
  margin-bottom: 20px;
}
