.rightSideHomePage {
  background-color: rgb(54, 57, 63);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-image: url("https://support.discord.com/hc/user_images/-tSbfgDFQxmpAJamqqO8Mg.png");
  /* height: 94.5vh; */
}

.homeImg {
  margin-left: 100px;
}
.centerSide {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  /* margin-top: 20px; */

  height: 78vh;


  width: 100%;
  background-color: rgb(64, 68, 75);
  border-radius: 5px;
  overflow: hidden;
  overflow-y: scroll;
  /* justify-content: start; */
}
.messages {
  display: flex;
  gap: 20px;
  height: 80px;
  width: 73vw;
  align-items: center;
  gap: 20px;
  left: 10px;
  bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: -10px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: rgb(55, 57, 63);
}

.messages:hover {
  background-color: rgb(55, 57, 63);
}

.messageText {
  font-family: "Whitney", sans-serif;
  margin-top: 5px;
  color: rgb(185, 187, 190);
}

.messageTextContainer {
  display: flex;
  flex-direction: column;
  width: 60vw;
}
.userNameSend {
  cursor: default;
  font-weight: bold;
  font-size: 18px;
  color: rgb(255, 255, 243);
  font-family: "Whitney", sans-serif;
}
.sendImageProfile {
  margin-left: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 10px;
}
.buttomSide {
  display: flex;
  margin-top: 10px;
  height: 50px;
  width: 100%;
  background-color: rgb(64, 68, 75);
  border-radius: 5px;
  align-items: center;
}

.sendButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
}
.sendIcon {
  height: 30px;
  width: 30px;
  color: rgb(154, 157, 161);
}

.sendReactIcon {
  margin-left: 1px;
}
.sendIcon:hover {
  color: rgb(255, 255, 226);
}
.sendIconTow {
  height: 30px;
  width: 30px;
  cursor: pointer;
  color: rgb(154, 157, 161);
}

.sendIconTow:hover {
  color: rgb(255, 255, 226);
}
.InputFelid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.inputMessage {
  height: 30px;
  width: 65vw;
  border: none;
  background-color: rgb(64, 68, 75);
  font-size: 17px;
  outline: none;
  caret-color: rgb(187, 187, 184);
  color: rgb(181, 183, 186);
}

.inputMessage::placeholder {
  color: rgb(129, 129, 127);
}

.room-navbar {
  display: flex;
  width: 100%;
  height: 50px;
  border-bottom: 0.5px solid black;
  align-items: center;
  justify-content: space-between;
  border-top: 0.5px solid black;
}

.roomName-tow {
  display: flex;
  width: 500px;
  align-items: center;
}

.nameRoom {
  font-size: 30px;
  margin-left: 20px;
  color: #b6b7bb;
  cursor: default;
}

.groupIcon {
  color: rgb(211, 214, 219);
  margin-left: 10px;
  height: 30px;
  width: 30px;
}

.roomController {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 55px;
  width: 300px;
}

.listIcon {
  color: rgb(211, 214, 219);
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.FollowRequestList {
  color: rgb(211, 214, 219);
  height: 28px;
  width: 28px;
  cursor: pointer;
}

.deleteRoom {
  color: rgb(202, 104, 104);
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.leaveIcon {
  color: rgb(202, 104, 104);
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.leaveIcon:hover {
  color: rgb(230, 65, 65);
}
.updateRoom {
  color: rgb(211, 214, 219);
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.listIcon:hover {
  color: rgb(255, 255, 226);
}
.updateRoom:hover {
  color: rgb(255, 255, 226);
}
.deleteRoom:hover {
  color: rgb(230, 65, 65);
}

.FollowRequestList:hover {
  color: rgb(255, 255, 226);
}

.toolTip {
  position: relative;
  cursor: pointer;
}
.toolTipText {
  margin-top: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(168, 172, 175);
  background-color: rgb(32, 34, 37);
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.toolTipText:before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  left: 41%;
  bottom: 50%;
  border: 12px solid;
  border-color: rgb(32, 34, 37) #0000 #0000 rgb(32, 34, 37);
}

.toolTip:hover .toolTipText {
  bottom: -120%;
  visibility: visible;
  opacity: 1;
}

.centerSide {
  overflow-y: scroll;
}

/* @src/components/Modal.module.css ////////////////////////////////////////////////////////////////////////////////////// */

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed; /* Stay in place which means that the background will cover all the page */
  overflow: auto; /* Enable scroll if needed */
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 350px;
  height: 350px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modalContent {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.deleteBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: red;
  transition: all 0.25s ease;
}

.deleteBtn:hover {
  box-shadow: 0 10px 20px -10px #9fc5e8;
  transform: translateY(-5px);
  /* background: #ff3e4e; */
}

.cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: gray;
  transition: all 0.25s ease;
}

.cancelBtn:hover {
  box-shadow: none;
  transform: none;
  background: whitesmoke;
  color: var(--primary-black-color);
}

.push-down {
  margin-bottom: 20px;
}

.sendName {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.userInfoContainer {
  display: flex;
  justify-content: space-between;
}

.date {
  margin-right: 5px;
  color: rgb(185, 187, 190);
}

.menuContainer {
  margin-left: 48vw;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.deleteMessage {
  color: rgb(202, 104, 104);
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.deleteMessage:hover {
  color: rgb(227, 64, 64);
}

.updateMessage {
  color: rgb(126, 138, 182);
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.updateMessage:hover {
  color: rgb(75, 108, 226);
}

.buttomIcons {
  display: flex;
  justify-content: space-between;
  width: 130px;
  margin-right: 20px;
}

.toolTipButtom {
  position: relative;
  cursor: pointer;
}
.toolTipTextBottom {
  margin-top: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(168, 172, 175);
  background-color: rgb(32, 34, 37);
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.toolTipTextBottom:before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  left: 39%;
  bottom: -10%;
  border: 12px solid;
  border-color: #0000 rgb(32, 34, 37) rgb(32, 34, 37) #0000;
}

.toolTipButtom:hover .toolTipTextBottom {
  bottom: 120%;
  visibility: visible;
  opacity: 1;
}

.messagesDocument {
  display: flex;
  gap: 20px;
  width: 40vw;
  align-items: center;
  height: 80px;
  gap: 20px;
  left: 10px;
  bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 20px;
  background-color: rgb(47, 49, 54);
}

.messagesDocument:hover {
  background-color: rgb(55, 57, 63);
}

.documentIcon {
  height: 60px;
  width: 40px;
  color: rgb(168, 172, 175);
  cursor: pointer;
}

.messageTextContainerDocument {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}

.document-name {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #18aff4;
}
.deleteDocumentMessage {
  color: rgb(185, 187, 190);
  height: 30px;
  width: 30px;
  margin-left: 30px;
  cursor: pointer;
}

.deleteDocumentMessage:hover {
  color: rgb(202, 104, 104);
}

.DownloadDocumentMessage {
  color: rgb(185, 187, 190);
  height: 30px;
  width: 30px;
  margin-left: 30px;
  cursor: pointer;
}

.DownloadDocumentMessage:hover {
  color: white;
}

.documentcontainer {
  display: flex;
  justify-content: center;
}

.messagesImage {
  display: flex;
  height: 400px;
  width: 45vw;
  margin-left: 20px;
  background-color: rgb(47, 49, 54);
  margin-top: 10px;
  margin-bottom: 10px;
}

.messagesImage:hover {
  background-color: rgb(55, 57, 63);
}

.imageDocument {
  margin-top: 10px;
  margin-left: 10px;
  height: 296px;
  width: 400px;
}

.deleteDocumentMessageDiv {
  margin-left: 200px;
}

.userInfoContainerImage {
  display: flex;
  width: 50vw;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.dateImage {
  margin-left: 50px;
  color: rgb(185, 187, 190);
}

.dateImageDiv {
  width: 300px;
}
.iconContainer {
  display: flex;
  width: 200px;
  margin-left: 100px;
}


.leaveDiv{
  margin-left: 280px ;
  
}

.toolTip {
  position: relative;
  cursor: pointer;
}
.toolTipText {
  margin-top: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(168, 172, 175);
  background-color: rgb(32, 34, 37);
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.toolTipText:before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  left: 41%;
  bottom: 50%;
  border: 12px solid;
  border-color: rgb(32, 34, 37) #0000 #0000 rgb(32, 34, 37);
}

.toolTip:hover .toolTipText {
  bottom: -120%;
  visibility: visible;
  opacity: 1;
}
