.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100% !important;
  overflow: auto !important;
}

/* use this wib kit to hide scrollbar*/
::-webkit-scrollbar {
  display: none;
}

.position-profile-account {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: grid;
  place-items: center;
  font-family: "Whitney", sans-serif;
  text-rendering: optimizeLegibility;
  background-color: rgb(32, 34, 37);
  /*use this proparity to prevent the user from blurring the speech*/
}

.container-profile {
  width: 600px;
  max-width: 90vw;
  padding: 32px;
  background-color: #2a2b38;
  background: #363940;
  border-radius: 6px;
  left: 0;
  top: 0;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  display: grid;
  place-items: center;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  margin-top: 20px;
}

.centering-wrapper-account {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.section1 {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.primary-header-username {
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 8px;
}

.secondary-header {
  color: #a2a3a7;
  font-size: 16px;
  line-height: 20px;
}

.input-position-signup {
  margin-top: 20px;
}

.form-group {
  width: 100%;
  text-align: left;
}

.input-placeholder-account {
  color: #a7a9ae;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
  flex: 1;
  cursor: default;
}

.error-message {
  color: #ec4846;
  font-style: italic;
  text-transform: none;
  font-size: 12px;
  font-weight: 100;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  transition: all 0.2s linear;
}

.form-style-account {
  position: relative;
  padding: 10px;
  height: 40px;
  width: 510px;
  max-width: 80vw;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #c4c3ca;
  background-color: #323338;
  border: 1px solid #282a2e;
  border-radius: 3px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.form-style-account:hover {
  border-color: #000;
}

.form-style-account:focus,
.form-style-account:active {
  border-color: #7289d9;
}

.form-style-account:active .input-placeholder {
  color: #7289d9;
}

.btn-position {
  width: 100%;
  display: grid;
  place-items: center;
}

.btn-account {
  text-decoration: none;
  border-radius: 4px;
  height: 44px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  transition: all 200ms linear;
  letter-spacing: 1px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  outline: none;
  background-color: rgb(88, 101, 242);
  color: white;
  cursor: pointer;
}

.btn-account:hover {
  background-color: #677bc4;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.btn-upload {
  text-decoration: none;
  border-radius: 4px;
  height: 25px;
  width: 100px;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  transition: all 200ms linear;
  letter-spacing: 1px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  outline: none;
  background-color: rgb(88, 101, 242);
  color: white;
  cursor: pointer;
}

.password-container {
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 20px;
  margin-top: 4px;
  width: 100%;
  height: auto;
  padding: 2px 90% 2px 0px;
  position: relative;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: none;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.link {
  color: #7289da;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  margin: 0 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.link:hover {
  text-decoration: underline;
}

.horizontalSeparator {
  margin: 0 2.5vw;
  border: 1px solid #363940;
}

@media only screen and (max-width: 768px) {
  body {
    background-position: 0px 0px;
  }
  svgBlob {
    top: 50;
    left: 0;
    transform: translate(0, -50%);
  }
  .logo-login {
    display: none;
  }
  .horizontalSeparator {
    display: none;
  }
  .container {
    padding: 20px;
  }
}
