/* .left-my-rooms .specific-size {
  border: 5px solid black;
  height: 94vh;
  width: 200px;
} */

.display-grid {
  display: grid;
  grid-template-columns: 200px auto;
  height: 94vh;
  border: 5px solid red;
}
