.left-my-rooms .display-grid {
  display: grid;
  grid-template-columns: 300px auto;
  height: 94.6vh;
}

.allMyRooms {
  overflow-y: scroll;
  border-right: 0.5px solid black;
  border-top: 0.5px solid black ;
  background-color: rgb(47, 49, 54);
}

::-webkit-scrollbar{
  display: none;
}

.titleRooms {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: rgb(66, 70, 77);
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  position: sticky;
  top: 0;
  border-bottom: 0.5px solid black;
}

.mainContainer {
  display: grid;
  justify-content: center;
  align-items: center;
}

.roomInfoContainer {
  height: 50px;
  display: flex;
  align-items: center;
  color: #919296;
  margin-top: 8px;
  margin-left: 9px;
  user-select: none;
  cursor: pointer;
  width: 280px;
  background-color: rgb(66, 70, 77);
  border-radius: 3px;
}

.roomInfoContainer:hover {
  background-color: rgb(54, 57, 63);
}

.roomInfoContainer:hover .roomName {
  color: rgb(228, 228, 228);
}

.roomName {
  font-size: 18px;
  margin-left: 15px;
  cursor: pointer;
  color: #b6b7bb;
}

.roomImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}
