* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

/* use this wib kit to hide scrollbar*/
::-webkit-scrollbar {
  display: none;
}

.position {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-image: url("https://preview.redd.it/bzrermc11fy61.png?width=5000&format=png&auto=webp&s=dd0ad8e9e65e5b02df5ffa143ccfe925125855e8");
  font-family: "Whitney", sans-serif;
  text-rendering: optimizeLegibility;
  /*use this proparity to prevent the user from blurring the speech*/
  user-select: none;
  background-size: cover;
}

.container {
  width: 784px;
  max-width: 90vw;
  padding: 32px;
  background-color: #2a2b38;
  background: #363940;
  border-radius: 6px;
  left: 0;
  top: 0;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;
  display: grid;
  place-items: center;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.centering-wrapper {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.section1 {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.primary-header {
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 8px;
}

.secondary-header {
  color: #a2a3a7;
  font-size: 16px;
  line-height: 20px;
}

.input-position {
  margin-top: 20px;
}

.form-group {
  width: 100%;
  text-align: left;
}

.input-placeholder {
  color: #919296;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
  flex: 1;
  cursor: default;
}

.error-message {
  color: #ec4846;
  font-style: italic;
  text-transform: none;
  font-size: 12px;
  font-weight: 100;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  transition: all 0.2s linear;
}

.form-style {
  position: relative;
  padding: 10px;
  height: 40px;
  width: 414px;
  max-width: 80vw;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #c4c3ca;
  background-color: #323338;
  border: 1px solid #282a2e;
  border-radius: 3px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.form-style:hover {
  border-color: #000;
}

.form-style:focus,
.form-style:active {
  border-color: #7289d9;
}

.form-style:active .input-placeholder {
  color: #7289d9;
  color: transparent;
}

.btn-position {
  width: 100%;
  display: grid;
  place-items: center;
}

.btn {
  text-decoration: none;
  border-radius: 4px;
  height: 44px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  transition: all 200ms linear;
  letter-spacing: 1px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  outline: none;
  background-color: #7289d9;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #677bc4;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.password-container {
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 20px;
  margin-top: 4px;
  width: 100%;
  height: auto;
  padding: 2px 90% 2px 0px;
  position: relative;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: none;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.link {
  color: #7289da;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  margin: 0 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.link:hover {
  text-decoration: underline;
}

.horizontalSeparator {
  margin: 0 2.5vw;
  border: 1px solid #363940;
}

.logo-login {
  width: 240px;
  height: 344px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: baseline;
  margin-left: 55px;
}

.logo-container {
  display: flex;
  width: 176px;
  height: 176px;
  border-radius: 2px;
  background: #fff;
  position: relative;
  margin: 30px 0px 32px 0px;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 176px;
  height: 176px;
  position: absolute;
  background-blend-mode: overlay;
}

.logo-code {
  position: absolute;
}

.logo-pheader {
  font-weight: 600;
  margin-bottom: 8px;
  color: #677bc4;
  font-size: 30px;
  line-height: 30px;
}

.logo-sheader {
  font-size: 16px;
  line-height: 20px;
  color: #a2a3a7;
}

@media only screen and (max-width: 768px) {
  body {
    background-position: 0px 0px;
  }
  svgBlob {
    top: 50;
    left: 0;
    transform: translate(0, -50%);
  }
  .logo-login {
    display: none;
  }
  .horizontalSeparator {
    display: none;
  }
  .container {
    padding: 20px;
  }
}
