* {
  margin: 0;
  padding: 0;
}
.App {
  background-color: #42464d;
}

.search .result-search {
  background-color: #42464d;
  color: white;
  width: 100vw;
  height: 100vh;
}

.input-search {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search .byText {
  background-color: #202225;
  border-radius: 5px;
  padding-right: 10px;
}

.search .byText input {
  width: 46.5vw;
  height: 7vh;
  background-color: #202225;

  border-style: none;
  color: #87898c;
  text-align: center;
  outline: none;
}

.search .byText .BsSearch {
  color: #87898c;
}

.search .byCategory select {
  max-width: 13vw;
  height: 6vh;
  background-color: #202225;
  border-radius: 5px;
  outline: none;
  color: #757575;
}

/* SingleSearchResult */

.SingleSearchResult {
  width: 100%;
  background-color: #42464d;
  margin-left: 140px;
}

/* userRoom */

.SingleSearchResult .result-Room {
  width: 79%;
  background-color: #72767d;
  margin-top: 40px;
  border: 2px solid #42464d;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto 15rem auto auto;
  align-items: center;
  justify-items: center;
}

/* userRoom-image */
.result-Room .result-image {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.SingleSearchResult .result-Room:hover {
  border-color: #7289d9;
}

.result-button .follow-btn {
  cursor: pointer;
  font-weight: 700;
  background: #7289d9;
  border-radius: 5px;
  font-size: 0.8rem;
  border: none;
  color: white;

  transition: all 0.25s ease;
  width: 100px;
  height: 50px;
}

.result-button .follow-btn:hover {
  box-shadow: 0 10px 20px -10px #9fc5e8;
  transform: translateY(-5px);
  color: #7289d9;
  background: white;
}

.result-button .unfollow-btn {
  cursor: pointer;
  font-weight: 700;

  border-radius: 5px;
  font-size: 0.8rem;
  border: none;
  color: white;

  background: rgb(202, 104, 104);
  transition: all 0.25s ease;
  width: 100px;
  height: 50px;
}

.result-button .unfollow-btn:hover {
  box-shadow: 0 10px 20px -10px #9fc5e8;
  transform: translateY(-5px);
  background-color: white;
  color: rgb(202, 104, 104);
}

/* view-Room-button */

.result-button .view-Room {
  cursor: pointer;
  font-weight: 700;

  border-radius: 5px;
  font-size: 0.8rem;
  border: none;
  color: white;

  background-color: #42464d;
  transition: all 0.25s ease;
  width: 100px;
  height: 50px;
}

.result-button .view-Room:hover {
  box-shadow: 0 10px 20px -10px #9fc5e8;
  transform: translateY(-5px);
  background-color: white;
  color: #42464d;
}

/* result-User  */

.SingleSearchResult .result-User {
  width: 79%;
  background-color: #72767d;
  margin-top: 40px;
  border: 2px solid #42464d;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto 15rem auto auto;
  align-items: center;
  justify-items: center;
}

/* result-User -image */
.result-User .result-image {
  /* result-User */
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.SingleSearchResult .result-User:hover {
  border-color: #7289d9;
}



/* view-Conversation */




 .result-User .view-Conversation {
  cursor: pointer;
  font-weight: 700;

  border-radius: 5px;
  font-size: 0.8rem;
  border: none;
  color: white;

  background-color: #42464d;
  transition: all 0.25s ease;
  width: 100px;
  height: 50px;
}

.result-User .view-Conversation:hover {
  box-shadow: 0 10px 20px -10px #9fc5e8;
  transform: translateY(-5px);
  background-color: white;
  color: #42464d;
} 




 .result-User .start-new-Conversation {
  cursor: pointer;
  font-weight: 700;
  background: #7289d9;
  border-radius: 5px;
  font-size: 0.8rem;
  border: none;
  color: white;

  transition: all 0.25s ease;
  width: 100px;
  height: 50px;
}

.result-User .start-new-Conversation:hover {
  box-shadow: 0 10px 20px -10px #9fc5e8;
  transform: translateY(-5px);
  color: #7289d9;
  background: white;
} 


 /* this-is-room" */

 .SingleSearchResult .this-is-room{

  color: #7289d9;
  background: white;
  padding: 15px 6px;
border-radius: 5px;
 margin: 10px 10px;
 
}


/*this-is-user  */

.SingleSearchResult .this-is-user {

  color: #42464D;
  background: white;
  padding: 15px 20px;
border-radius: 5px;
 margin: 10px 15px;
 
}

 















/*  media query*/

@media all and (max-width: 1100px) {
  .SingleSearchResult {
    margin-left: 0px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 85vw;
  }

  .SingleSearchResult .result-Room {
    width: 100%;
    display: grid;
    grid-template-columns: auto 280px auto auto;
    align-items: center;
    justify-items: center;
  }

  .result-button .follow-btn {
    font-weight: 600;
    font-size: 0.7rem;
    width: 80px;
    height: 40px;
  }

  .result-button .unfollow-btn {
    font-weight: 600;
    font-size: 0.7rem;
    width: 85px;
    height: 40px;
  }
}

@media all and (max-width: 950px) {
  .SingleSearchResult .result-Room {
    width: 100%;
    display: grid;
    grid-template-columns: auto 225px auto auto;
    align-items: center;
    justify-items: center;
  }
}

@media all and (max-width: 850px) {
  .SingleSearchResult .result-Room {
    width: 100%;
    display: grid;
    grid-template-columns: auto 130px auto auto;
    align-items: center;
    justify-items: center;
  }

  .SingleSearchResult .room-name {
    font-size: 10px;
  }

  .SingleSearchResult .room-type {
    font-size: 13px;
  }

  .result-button .follow-btn {
    font-weight: 600;
    font-size: 0.7rem;
    width: 85px;
    height: 40px;
  }

  .result-button .unfollow-btn {
    font-weight: 600;
    font-size: 0.7rem;
    width: 85px;
    height: 40px;
  }
}


/* /////////////////////////// */ 



@media all and (max-width: 1100px) {
 

  .SingleSearchResult .result-User {
    width: 100%;
    display: grid;
    grid-template-columns: auto 280px auto auto;
    align-items: center;
    justify-items: center;
  }

  .result-button .start-new-Conversation {
    font-weight: 600;
    font-size: 0.7rem;
    width: 80px;
    height: 40px;
  }

  .result-button .view-Conversation {
    font-weight: 600;
    font-size: 0.7rem;
    width: 85px;
    height: 40px;
  }
}

@media all and (max-width: 950px) {
  .SingleSearchResult .result-User {
    width: 100%;
    display: grid;
    grid-template-columns: auto 225px auto auto;
    align-items: center;
    justify-items: center;
  }
}

@media all and (max-width: 850px) {
  .SingleSearchResult .result-User {
    width: 100%;
    display: grid;
    grid-template-columns: auto 130px auto auto;
    align-items: center;
    justify-items: center;
  }

/*   .SingleSearchResult .room-name {
    font-size: 10px;
  }

  .SingleSearchResult .room-type {
    font-size: 13px;
  } */

  .result-button .start-new-Conversation {
    font-weight: 600;
    font-size: 0.7rem;
    width: 85px;
    height: 40px;
  }

  .result-button .view-Conversation {
    font-weight: 600;
    font-size: 0.7rem;
    width: 85px;
    height: 40px;
  }
}
