.CreateNewAdminModel .darkBG {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed; /* Stay in place which means that the background will cover all the page */
  overflow: auto; /* Enable scroll if needed */
}

.CreateNewAdminModel .centered {
  margin-top: 60px;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CreateNewAdminModel .modal {
  width: 100%;
  height: 100%;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 3px;
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 4%);
}

/* heading */

.CreateNewAdminModel .heading {
  margin: 0;
  padding: 20px;
  color: black;
  font-size: 25px;
  text-align: center;
  font-weight: 850;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* modalContent */

/* modalContent-paragraph */

.CreateNewAdminModel .modalContent {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  height: 100%;
  padding-top: 5px;
}

/* .CreateNewAdminModel .fixed-width {
  width: 250px;
} */

/* modalContent-input */

.CreateNewAdminModel .admin-input {
  position: relative;
  padding: 10px;
  height: 40px;
  width: 100%;
  max-width: 80vw;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: black;
  background-color: #e3e5e8;
  border: none;
  border-radius: 3px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.CreateNewAdminModel .createAdmin-error {
  color: #a94442;
}

.CreateNewAdminModel .createAdmin-success {
  color: #4aaf4b;
}

/* .shiftingToLeft */

.CreateNewAdminModel .shiftingToLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* create button */

.CreateNewAdminModel .create-admin-Btn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 11px;
  border-radius: 3px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: gray;
  transition: all 0.25s ease;
}

.CreateNewAdminModel .create-admin-Btn:hover {
  box-shadow: 0 10px 20px -10px #4f545c;

  background-color: #4f545c;
}

/* cancel button */

.CreateNewAdminModel .cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 38px;
  border-radius: 3px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: rgb(223, 97, 97);
  transition: all 0.25s ease;
}

.CreateNewAdminModel .cancelBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: red;
  color: white;
}
.exitIcon {
  color: white;
}
