/* @src/components/Modal.module.css ////////////////////////////////////////////////////////////////////////////////////// */

.super-admin-modal .darkBG {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed; /* Stay in place which means that the background will cover all the page */
  overflow: auto; /* Enable scroll if needed */
}

.super-admin-modal .centered {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.super-admin-modal .modal {
  width: 400px;
  height: 350px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 4px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: white;
}

.super-admin-modal .modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.super-admin-modal .heading {
  margin: 0;
  padding: 20px;
  color: black;
  font-size: 25px;
  text-align: center;
  font-weight: 850;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.super-admin-modal .modalContent {

  padding: 10px;
  padding-top: 20px;
  font-size: 18px;
  color: #2c3e50;
  text-align: center;
  
}

.super-admin-modal .Create-Category {
  position: relative;
  padding: 10px;
  height: 40px;
  width: 65%;
  max-width: 80vw;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #c4c3ca;
  background-color: white;
  border: 1px solid #282a2e;
  border-radius: 3px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  
}

.super-admin-modal .Create-Category:hover {
  background-color:#ebedef

  ;
  border-color: #000;
}

.super-admin-modal .Create-Category:focus,
.Create-Category:active {
  border-color: #7288d95b;
}


.super-admin-modal .Create-Category ,::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
  color:#bcbcbc ;
}





.super-admin-modal .modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.super-admin-modal .actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.super-admin-modal .closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.super-admin-modal .closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.super-admin-modal .deleteBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: gray;
  transition: all 0.25s ease;
}

.super-admin-modal .deleteBtn:hover {
  box-shadow: 0 10px 20px -10px #9fc5e8;
  transform: translateY(-5px);
  /* background: #ff3e4e; */
}

.super-admin-modal .updateBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: gray;
  transition: all 0.25s ease;
}

.super-admin-modal .updateBtn:hover {
  box-shadow: 0 10px 20px -10px #9fc5e8;
  transform: translateY(-5px);
  /* background: #ff3e4e; */
}
/* createBtn */

.super-admin-modal .shiftingToLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.super-admin-modal .createBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 20px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: gray;
  transition: all 0.25s ease;
}

.super-admin-modal .createBtn:hover {
  box-shadow: 0 10px 20px -10px #4f545c;
  /*   transform: translateY(-5px); */

  background-color: #4f545c;
}

/* create-admin-Btn */

.super-admin-modal .create-admin-Btn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: gray;
  transition: all 0.25s ease;
}

.super-admin-modal .create-admin-Btn:hover {
  box-shadow: 0 10px 20px -10px #9fc5e8;
  transform: translateY(-5px);
  /* background: #ff3e4e; */
}

.super-admin-modal .cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: gray;
  transition: all 0.25s ease;
}

.super-admin-modal .cancelBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  background: #4f545c;
 color: white;
}

.super-admin-modal .push-down {
  margin-bottom: 20px;
}

/* ////////////////The End of the Model ////////// */
