/* Super Admin Page */



.superadminMain {
  width: 100vw;
  height: 93vh;
}

.superadminMain .display-grid-super-admin {
  display: grid;
  grid-template-columns: 300px auto;
  height: 94.6vh;
}

.superTitle {
  font-family: "Whitney", sans-serif;
  margin-left: 10px;
  color: white;
}

.CreateCategoryBtn {
  font-size: 20px;
  padding: 5px;
  font-family: "Whitney", sans-serif;
  font-weight: 600;
  background-color: #7e8ab6;
  color: white;
  cursor: pointer;
  width: 250px;
  margin-top: 8px;
  border-radius: 3px;
}

.CreateCategoryAdminBtn {
  font-size: 20px;
  font-family: "Whitney", sans-serif;
  font-weight: 600;
  background-color: #7e8ab6;
  color: white;
  cursor: pointer;
  margin-bottom: 8px;
  padding: 5px;
  border-radius: 3px;
}

.categoryelemnt {
  display: grid;
  grid-template-columns: auto 200px;
  justify-content: space-between;
  align-items: center;
}

.categoryName {
  font-size: 23px;
  font-weight: 600;
  text-align: center;
  font-family: "Whitney", sans-serif;
  color: white;
}

.superNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.superNav .superTitle {
  margin-left: 50px;
}

.superNav .logOut {
  height: 40px;
  width: 100px;
  font-size: 18px;
  margin-right: 50px;
  font-family: "Whitney", sans-serif;
  font-weight: 900;
  margin-left: 10px;
  background-color: #7e8ab6;
  color: white;
  cursor: pointer;
border-radius: 3px;
}


.logOut:hover {
    background-color: #677bc4;
}

/*-----------------------------------------------------------------------------------------------------------*/

.superLeftSide {
  overflow: hidden;
  overflow-y: scroll;
  background-color: rgb(47, 49, 54);
  border-right: 0.5px solid black;
  height: 94.5vh;
}

.superNav {
  background-color: rgb(47, 49, 54);
  border-bottom: 0.5px solid black;
}

.categoryButtonMain {
  display: grid;
  border-bottom: 0.5px solid black;
  gap: 2px;
  justify-content: center;
  position: sticky;
}

.categoryelemnt {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #919296;
  margin-top: 8px;
  user-select: none;
  cursor: pointer;
  width: 280px;
  background-color: rgb(66, 70, 77);
  border-radius: 3px;
}

.categoryelemnt:hover {
  background-color: rgb(54, 57, 63);
}

.CategoryBody {
  display: grid;
  justify-content: center;
  gap: 5px;
}

